<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SystemInfoKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SystemInfoKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D43C4C91BD49B78001D8A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D43C4F21BD56385001D8A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D43C5021BD56A94001D8A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D43C50D1BD56B1D001D8A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
